<div class="container col-8">
    <h1 class="text-primary">Centro de Mensajes</h1>
    <div class="input-group mb-3">
        <label for="nombreUsuario"></label>
        <input type="email" class="form-control" id="nombreUsuario" name="nombre" placeholder="Ingrese cuenta de correo" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">@example.com</span>
    </div>

    <div id="chatContainer">

    </div>

    <div class="input-group mb-3">
        <label for="message"></label>
        <input type="text" id="message" name="message" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
            aria-describedby="button-addon2">
        <button id="btnMessage" class="btn btn-outline-secondary" type="button" >Enviar</button>
    </div>
</div>